myconfig.py
config_over_env.env
.env
.env.*
*.secret
*.pem
*.db*
*.session
*.log
.venv
.git
.gitignore
__pycache__
*.py[cod]
reports/*
!reports/.gitkeep
questionfiles/*
!questionfiles/Template_Survey.xlsx
!questionfiles/.gitkeep
